
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Star Jedi', arial;
}

.bg_image{
    background-image: url('./StarWars.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
   
  }

  .container{
      height: 100vh;
  }

.sub-title{
    font-weight: 700;
    position: relative;
    top: 710px;
   text-align: center;
    font-size: 8rem;
    color: white;
}

button{
   position: relative;
   left: 50px;
   top: 25px;
   width: 150px;
}